__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.jpg
*.jpeg
*.png
*.bmp
*.pt
*.onnx
*.weights
.idea/
.vscode/
.env
.env.*
*.ipynb
notebooks/
tests/
datasets/
dataset/
*.zip
*.tar
*.gz
yolov5/data/
yolov5/runs/
